*{
    margin: 0;
    font-family: 'Gowun Batang', serif;
}
.body-container{
    margin: 0;
    width: 100%;
    background-image: url(./login_bg.png);
    text-align: center;
}
.contents{
    height: 500px;
}
.contents > div{
    height: 30px;
}
button{
    margin-top: 20px;
}
h2{
    padding-top: 400px;
}
.logo{
    width: 600px;
    height:600px;

}
.login_letter{
    font-size: 40px;
    padding-top: 290px;
}
.login_btn{
    height: 50px;
    width: 250px;
    background-color: #f1dfcf;
    font-size: 18px;
}