div{
    font-family: 'Gowun Batang', serif;
    height: 100%;
    text-decoration: none;
}
.tabAns{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-collapse: collapse;

}
th,td{
    border-top: hidden;
    border: 3px solid white;
    padding: 5px;
}